*~
*.o
.*.o.d
liigresc_bs.bin
liigboot_bs.bin
liigresc_empty.img
liigboot_empty.img
liigboot.img
liigboot.zip
liigboot.img.ziptmp
liigboot.img.install
liigboot.img.install.debug
*.bin.good
syslinux/core/kwdhash.gen
syslinux/core/ldlinux.bin
syslinux/core/ldlinux.bss
syslinux/core/ldlinux.elf
syslinux/core/ldlinux.lsr
syslinux/core/ldlinux.lst
syslinux/core/ldlinux.map
syslinux/core/ldlinux.raw
syslinux/core/ldlinux.sec
syslinux/core/ldlinux.sys
syslinux/version.gen
syslinux/version.h
syslinux/version.mk
syslinux/libcomcore/libcomcore.a
syslinux/libcore/libcore.a
liigboot.zip.good
/sdb.*
my.img
